*{
    margin: 0;
    padding: 0;
}
.label{
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;

}
#search{
    height: 3rem;
    width: 30rem;
    border-radius: 50px;
    border: 1px solid crimson;
    text-align: center;
}