* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.Cardcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0; 
}

.Homepage-container {
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Homepage-container h1, 
.Homepage-container h4 {
  margin-bottom: 20px;
}

.Homepage-container h1 {
  font-size: 30px;
  font-weight: 600;
}

.Homepage-container h4 {
  font-size: 20px;
  font-weight: 400;
}

.cardbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  /* background-color: #1b1b1b;
  box-shadow: 0 0 10px #cecece;
  border-radius: 5px; */
}
